<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2021</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="{{url_for('static',filename='js/map.js')}}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>

<h1>InfoVis UE 2021 - Exercise 3</h1>
<p>Marko Kadić 12045128, Moritz Hübler 1426077</p>

<!-- Container for the map and the label for the selected indicator -->
<div class="container">
    <p id="indicator">&nbsp;</p>
    <svg id="svg_map"></svg>
</div>
<!-- Container for the biplot and the label for the selected country -->
<div class="container">
    <p id="country">&nbsp;</p>
    <div class="row-container">
        <form>
            <label for="teams">Choose a team:&nbsp;&nbsp;</label>
            <select fname="teams" id="teams">
            </select>
        </form>
        <form>
            <label for="seasons">Choose a season:&nbsp;&nbsp;</label>
            <select fname="seasons" id="seasons">
            </select>
        </form>
    </div>
    <hr>
    <div class="row-container">
        <div class="column-container">
            <span>Fifa21 player data:</span>
            <ul id="players"></ul>
        </div>
        <div class="column-container">
            <span>Standings:</span>
            <ul id="standings"></ul>
        </div>
        <div class="column-container">
            <span>TODO: SVG</span>
            <svg id="svg_chart"></svg>
        </div>
    </div>
</div>

<script>
    // reads the data from the server using Jinja2
    let player = {{ player | safe }};
    let seasons = {{ seasons | safe }};
    let standings = {{ standings | safe }};

    initMap()
    initSeasons(seasons, standings)
    initTeams(standings, player)
    initPlayers()
</script>

</body>
</html>