body {
    padding-left: 5em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;
}

.container {
    display: table-cell;
    vertical-align:top;
    height: 500px;
    padding: 10px;
    border: 0px solid black;
    text-align: center;
    font-size: large;
}

form {
    margin: 20px;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
}

ul {
    width: 300px;
}

form {
    display: flex;
    flex-direction: row;
}

select {
    width: 140px;
}

li {
    display: flex;
    align-items: start;
}
